.App {
  text-align: center;
  background: black;
  color: gray;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Poppins" , sans-serif;
  font-weight: 500;
  padding-top: 1rem;
  
}

p{
  margin-top: 1rem;
  letter-spacing: 4px;
}

.App-logo {
  height: 60vh;
  pointer-events: none;
  margin-top: 2rem;
}


.App-link {
  color: #61dafb;
}


.login-input {
  height: 40px;
  background: rgb(32, 31, 31);
  width: 35%;
  font-family: 'Poppins', sans-serif;
  border-radius: 35px;
  border: 1px solid #DCD7D7;
  margin-top: 0.2rem;
  padding-left: 20px;
  font-size: medium;
  border: none;
  margin-top: 1rem;
  color: gray;
}

.btn{
  border-radius: 35px;
  height: 48px;
  padding: 10px 40px 10px 40px;
  color: white;
  background: #464646;
  border: none;
  margin-left: -80px;
  cursor: pointer;
  letter-spacing: 4px;
}

.login-input::placeholder {
  text-align: left;
  color: gray;
  font-weight: 500;
  background: rgb(32, 31, 31);
}